
.container {
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
}
.logo {
    font-size: 80px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-top: 60px;
    padding-bottom: 40px;
}
.ra {
    color:black;
}
.mda {
    color: aqua;
}
.top-menu {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    background-color: #35444F;
}
.top-menu-item {
    color: white;
    padding-top: 25px;
    padding-bottom: 20px;
    border-left: 1px solid #FFFFFF;
    padding-left: 33px;
    padding-right: 32px;
}
.top-menu:first-child {
    padding-left: 110px;
}
.top-menu:last-child {
    padding-right: 150px;
}
main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.aside-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 345px;
    height: 400px;
    border: 2px solid #485863;
}
.aside-menu-item {
    margin-left: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    color: #485863;
}
.aside-menu-item:first-child {
    padding-top: 30px;
}
.aside-menu-item:last-child {
    padding-bottom: 30px;
}
.content {
    display: flex;
    justify-content: space-between;
}
.photo {
    width: 885px;
    height: 530px;
    border: 2px solid #485863;
    display: inherit;
    align-items: center;
    justify-content: center;
}
.text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #2C2C2C;
    margin-top: 37px;
    line-height: 24px;
}
.lorem {
    text-align: left;
    margin-left: 395px;
}
.footer {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: rgba(99, 105, 110, 0.48);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 55px;
}
.footer-menu {
    padding-left: 40px;
    font-size: 28px;
    color: #0C1927;
    width: 928px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.copyright {
    width: 190px;
    color: #010101;
    font-size: 24px;
    padding-right: 40px;
}
.ramda-hover:hover {
    background-color: #222F3A;
}
.why-ramda:hover {
    padding-left: 38px;
    background-color: #DBDBDB;
    color: #35444F;
}
.why-ramda-footer:hover {
    color: aqua;
    text-decoration: underline aqua;
}