body {
    width: 1900px;
    font-family: 'Open Sans', sans-serif;
}
h2 {
    font-weight: 700;
    font-size: 27px;
    text-transform: uppercase;
    color: #18B4CF;
    text-align: center;
    margin-top: 49px;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: #313131;
    color: #FFFFFF;
    padding-top: 28px;
    padding-bottom: 15px;
}
.logo {
    display: flex;
    justify-content: space-between;
    width: 160px;
    padding-left: 29px;
}
.top-menu {
    display: flex;
    width: 700px;
    justify-content: space-between;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
}
.architect {
    font-weight: 700;
    font-size: 22px;
}
.top-search {
    padding-right: 26px;
}
.container {
    background-image: url("../img/header-bg.jpeg");
    width: 100%;
    height: 370px;
    background-position: center;
    /*background-color: rgba(0,0,0,.8);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 27px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 37px;
    margin-top: 120px;
}
.btn {
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    width: 170px;
    height: 55px;
    margin-top: 45px;
}
.green-btn {
    background-color: #89CA62;
}
.blue-btn {
    background-color: #14B9D5;
}
.popular-posts>h2 {
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    color: #18B4CF;
    line-height: 37px;
    text-align: center;
    padding-top: 49px;
}
.popular-posts {
    background-color: #F2F2F2;
    height: 1030px;
}
.posts {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1170px;
    margin-top: 20px;
}
.posts-items {
    display: flex;
    flex-direction: column;
    /*align-content: space-between;
    height: 600px;*/
    background-color: #FFFFFF;
    margin-top: 31px;
}
.post-text {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #353A3D;
    padding-top: 20px;
    padding-bottom: 20px;
}
.our-clients {
    background-image: url("../img/paralax.jpeg");
    width: 100%;
    height: 588px;
    background-position: center;
}
.our-clients>h1 {
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 108px;
    text-align: center;
}
.clients {
    margin-right: auto;
    margin-left: auto;
    width: 880px;
    margin-top: 196px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 58px;
}
.rated-img {
    margin-top: 52px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(271px, 1fr));
}
.hot-news {
    margin-top: 51px;
    width: 1169px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    /*grid-template-rows: repeat(4, 260px);
    grid-template-columns: repeat(4, 277px);*/
    grid-template: 259px 418px 416px 259px / repeat(4, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 44px;
}
.news-item>h4 {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 15px;
    padding-top: 14px;
    line-height: 25px;
    color: #353A3D;
}
.news-item>p {
    font-size: 14px;
    color: #5B6469;
    font-weight: 600;
    line-height: 21px;
    width: 527px;
}
.news-item-1 {
    width: 350px;
    float: right;
}
.news-item-8 {
    width: 350px;
    float: right;
}
.hot-news-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-column-gap: 35px;
}
/*.hot-news-2 {
    grid-column-start: 3;
    grid-column-end: 3;
}*/
.hot-news-3 {
    grid-column-start: 1;
    grid-column-end: 2;
}
.hot-news-4 {
    grid-column-start: 2;
    grid-column-end: 4;
}
.hot-news-5 {
    grid-column-start: 1;
    grid-column-end: 2;
}
.hot-news-6 {
    grid-column-start: 2;
    grid-column-end: 4;
}
.hot-news-7 {
    grid-column-start: 1;
    grid-column-end: 1;
}
.hot-news-8 {
    float: right;
    width: 350px;
}
.footer {
    height: 80px;
    background-color: black;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    font-size: 13px;
    color: white;
}